* {
    /* box-sizing: border-box; */
  } 

  html{
    min-height:100%; /* make sure it is at least as tall as the viewport */
    position:relative;
}

  body {
    color: #777777;
    background-image: url('../images/light-grey-terrazzo.png');
    margin: 0px;
    /* height: 100%; */
  }

section {
    margin: auto;
    width: 960px;
    background-color: #ffffff;
    /* position: relative; */
}

nav {
    background-color: #ffffff;
    border-bottom: solid #cccccc;
    margin-bottom: 60px;
}

h1 {
    color: #4aaaa5;
}

#leftsideofmenu {
    float: left;
    background-color: #4aaaa5;
}

#leftsideofmenu > h1 {
    color: #ffffff;
    padding: 0 20px;
}

#rightsideofmenu {
    float: right;
    padding: 15px;
    /* position: relative; */
}

#about, #portfolio, #contact {
    float: left;
    width: 80px;
    text-align: center;
    /* position: relative; */
}

#about, #portfolio {
    border-right: 1px solid #dddddd;
}

#aboutme {
    border-bottom: 2px solid #dddddd;
}

img {
    float:left;
    padding-right: 20px;
}

nav > section {
    height: 57px;
}

p {
    /* width: 760px; */
    /* float: right; */
    /* padding-top: 20px; */
    line-height: 1.5em;
}

#maincontent {
    /* background-color: #ffffff; */
    border: 2px solid #dddddd;
    height: 450px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 200px;
}

#maincontentcontact {
    /* background-color: #ffffff; */
    border: 2px solid #dddddd;
    height: 450px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 200px;
}

footer {
    background-color: #4aaaa5;
    color: #ffffff;
    height: 57px;
    position:absolute;
    bottom:0;
    width: 100%;
}

#container {
    /* height: 100%; */
}

a {
    text-decoration: none;
    color: #777777;
}

input, textarea {
    width: 100%;
}

textarea {
    resize: none;
}

button {
    width: 70px;
    background-color: #4aaaa5;
    color: #ffffff;
    height: 30px;
    /* border-color: #4aaaa5; */
    border: none;
}

table {
    border: none;
}

img {
    height:200px; 
    width:200px;
}

.portfolioimage {
    width: 120px;
    height: 120px;
}

@media screen and (max-width:980px) {
 section {
     width: 670px;
 }
} 

@media screen and (max-width:768px) {
    section {
        width: 570px;
        height: 650px;
    }
    #maincontent {
        height: 600px;
    }
    #maincontentcontact {
        height: 450px;
    }
} 

@media screen and (max-width:640px) {
    section {
        width: 100%;
        /* height: 100%; */
    }
    
    
    #rightsideofmenu {
        padding: 0px auto;
    }

    #about, #portfolio, #contact {
        width: 60px;
    }
    
    img {
        /* height:200px;  */
        width:100%;
        height: auto;
    }

    #maincontent {
        height: 700px;
    }
    
    .portfolioimage {
        width: 100%;
        height: auto;
    }
} 

